* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(130deg, #0f0f0f, #6e6e6e, #adadad);
  background-size: 200% 200%;
  animation: moveGradient 15s linear infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  padding: 20px 20px 60px; /* place pour footer */
  box-sizing: border-box;
  justify-content: flex-start;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 30px;
}

.icone {
  width: 100px;
  height: auto;
}

.texte {
  color: rgb(207, 207, 207);
  font-size: 1rem;
}

ul {
  color: rgb(207, 207, 207);
  padding-left: 20px;
}

.liens,
.liens-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(135deg, #3c773a, #71ce87);
  background-size: 400% 400%;
  animation: gradientMove 2s linear infinite;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 16px;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  width: 80%;
  max-width: 600px;
  transition: transform 0.2s, padding 0.3s, font-size 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn img {
  width: 24px;
  height: 24px;
}

@keyframes gradientMove {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@media (max-width: 768px) {
  .liens.naruto {
    display: block;
    width: 100%;
    padding: 0;
  }

  #btn1, #btn3 {
    float: left;
    width: 48%;
    margin: 1% 1% 10px 0;
    box-sizing: border-box;
  }

  #btn2, #btn4 {
    float: right;
    width: 48%;
    margin: 1% 0 10px 1%;
    box-sizing: border-box;
  }

  .btn {
    font-size: 1rem;
    padding: 12px;
  }

  .btn img {
    width: 20px;
    height: 20px;
  }
}

footer {
  background-color: #1f1f1f;
  padding: 15px 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
  font-weight: 500;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 40px;
}

footer a {
  color: #80c0ff;
  text-decoration: underline;
}
